<p style="color: green"><%= notice %></p>

<h1>Word tags</h1>

<div id="word_tags">
  <% @word_tags.each do |word_tag| %>
    <%= render word_tag %>
    <p>
      <%= link_to "Show this word tag", word_tag %>
    </p>
  <% end %>
</div>

<%= link_to "New word tag", new_word_tag_path %>
