<%= form_for :pronoun, { url: pronouns_path } do |form| %>
  <% # render "common/form_errors", model: @pronoun %>

  <%= render "words/fields", form: form, wordable_type: "pronoun" %>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>