<h1>Editing adjective</h1>

<%= render "form", adjective: @adjective %>

<br>

<div>
  <%= link_to "Show this adjective", @adjective %> |
  <%= link_to "Back to adjectives", adjectives_path %>
</div>
