<h1>Editing word definition</h1>

<%= render "form", word_definition: @word_definition %>

<br>

<div>
  <%= link_to "Show this word definition", @word_definition %> |
  <%= link_to "Back to word definitions", word_definitions_path %>
</div>
