<p style="color: green"><%= notice %></p>

<h1>Word definitions</h1>

<div id="word_definitions">
  <% @word_definitions.each do |word_definition| %>
    <%= render word_definition %>
    <p>
      <%= link_to "Show this word definition", word_definition %>
    </p>
  <% end %>
</div>

<%= link_to "New word definition", new_word_definition_path %>
