<h1>Editing conjunction</h1>

<%= render "form", conjunction: @conjunction %>

<br>

<div>
  <%= link_to "Show this conjunction", @conjunction %> |
  <%= link_to "Back to conjunctions", conjunctions_path %>
</div>
