<h1>Editing verb tense</h1>

<%= render "form", verb_tense: @verb_tense %>

<br>

<div>
  <%= link_to "Show this verb tense", @verb_tense %> |
  <%= link_to "Back to verb tenses", verb_tenses_path %>
</div>
