<p style="color: green"><%= notice %></p>

<h1>Verb tenses</h1>

<div id="verb_tenses">
  <% @verb_tenses.each do |verb_tense| %>
    <%= render verb_tense %>
    <p>
      <%= link_to "Show this verb tense", verb_tense %>
    </p>
  <% end %>
</div>

<%= link_to "New verb tense", new_verb_tense_path %>
