<div id="<%= dom_id language %>">
  <p>
    <strong>Name:</strong>
    <%= language.name %>
  </p>

  <p>
    <strong>Shorthand:</strong>
    <%= language.shorthand %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= language.active %>
  </p>

</div>
