<div id="<%= dom_id verb_conjugation %>">
  <p>
    <strong>Verb tense:</strong>
    <%= verb_conjugation.verb_tense_id %>
  </p>

  <p>
    <strong>Verb:</strong>
    <%= verb_conjugation.verb_id %>
  </p>

</div>
