<h1>Editing verb mood</h1>

<%= render "form", verb_mood: @verb_mood %>

<br>

<div>
  <%= link_to "Show this verb mood", @verb_mood %> |
  <%= link_to "Back to verb moods", verb_moods_path %>
</div>
