<h1>Editing preposition</h1>

<%= render "form", preposition: @preposition %>

<br>

<div>
  <%= link_to "Show this preposition", @preposition %> |
  <%= link_to "Back to prepositions", prepositions_path %>
</div>
