<table class="<%= html_class %>">
    <tr>
        <% Language.active.each do |lang| %>
            <th>
                <%= lang.name %>
            </th>
        <% end %>
    </tr>
    <% @defs.each_with_index do |word_def, i| %>
        <tr>
            <% Language.active.each do |lang| %>
                <td>
                    <% if word_def.has_key?(lang.shorthand) %>
                        <% if @searched %>
                            <%= highlight(word_def[lang.shorthand].loc, @searched) %>
                        <% else %>
                            <%= word_def[lang.shorthand].loc %>
                        <% end %>
                    <% end %>
                </td>
            <% end %>
        </tr>   
    <% end %>
</table>