<div id="<%= dom_id word %>">
  <p>
    <strong>Word-definition:</strong>
    <%= word.word-definition_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= word.language_id %>
  </p>

  <p>
    <strong>Loc:</strong>
    <%= word.loc %>
  </p>

</div>
