<p style="color: green"><%= notice %></p>

<h1>Tenses</h1>

<div id="tenses">
  <% @tenses.each do |tense| %>
    <%= render tense %>
    <p>
      <%= link_to "Show this tense", tense %>
    </p>
  <% end %>
</div>

<%= link_to "New tense", new_tense_path %>
