<div id="<%= dom_id article_gender %>">
  <p>
    <strong>Article:</strong>
    <%= article_gender.article_id %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= article_gender.gender_id %>
  </p>

</div>
