<h1>Editing article gender</h1>

<%= render "form", article_gender: @article_gender %>

<br>

<div>
  <%= link_to "Show this article gender", @article_gender %> |
  <%= link_to "Back to article genders", article_genders_path %>
</div>
