<div class="menu action-menu">
    <%= link_to "Gérer le dictionnaire", add_words_menu_path %>
    <%= link_to "Consulter le dictionnaire", dictionary_menu_path %>
    <%= link_to "Exercices", exercises_path %>
    <%= link_to "Consulter les catégories", list_tags_path %>
</div>