<h1>Editing word usage</h1>

<%= render "form", word_usage: @word_usage %>

<br>

<div>
  <%= link_to "Show this word usage", @word_usage %> |
  <%= link_to "Back to word usages", word_usages_path %>
</div>
