<p style="color: green"><%= notice %></p>

<h1>Word usages</h1>

<div id="word_usages">
  <% @word_usages.each do |word_usage| %>
    <%= render word_usage %>
    <p>
      <%= link_to "Show this word usage", word_usage %>
    </p>
  <% end %>
</div>

<%= link_to "New word usage", new_word_usage_path %>
